<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>衣類検索</h1>
<form th:action="@{/cloth/condittionalSearch}" method="post">
<input type="radio" name="gender" value="0" checked>Man<br>
<input type="radio" name="gender" value="1" >Woman<br>
<select name="color" >
<option value="赤">赤</option>
<option value="青">青</option>
<option value="白">白</option>
<option value="黄">黄</option>
</select><br>
<button>検索</button>

<table border="1" th:each="cloth:${clothList}">
			<tr>
				<td>ジャンル</td>
				<td th:text=${cloth.genre}></td>
			</tr>
			<tr>
				<td>サイズ</td>
				<td th:text="${cloth.size}"></td>
			</tr>
			<tr>
				<td>価格</td>
				<td th:text="${#numbers.formatInteger(cloth.price, 4, 'COMMA')}"></td>
			</tr>
		</table>
</form>
</body>
</html>